{% extends 'base.html.twig' %}

{% block title %}Simple Blog{% endblock %}

{% block body %}
<main>
    <h2>Home</h2>
    <section class="article-list-container">
        {% for article in articleList %}
            <article class="home-article">
                <h3 class="article-title">{{ article.title }}</h3>
                <h4>{{ article.user.pseudo }}</h4>
                <p class="badge">{{ article.category.name }}</p>
                <p class="article-date">{{ article.createdAt|date }}</p>
                <p>{{ article.content|slice(0, 60) }}...</p>
                <a href="{{ path('app_read_article', {'id': article.id}) }}">Read</a>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
